* {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
}

#header, #footer {
  width: 100%;
  background-color: #333;
  color: white;
  text-align: center;
  padding: 15px;
}

.row {
  width: 100%;
  overflow: hidden;
}

.box {
  float: left;
  padding: 15px;
  border: 2px solid #999;
  background-color: #ffffff;
}

/* ROW 2 COLUMNS */
#links {
  width: 20%;
}

#main {
  width: 50%;
}

#tools {
  width: 30%;
}

/* ROW 3 COLUMNS */
#ingredients, #equipment, #directions {
  width: 33.33%;
}

/* IMAGE */
img {
  width: 100%;
  height: auto;
}

/* TEXT */
.rate {
  color: darkred;
}

a {
  color: #ffd700;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
