

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f5f5f5;
}


#header {
  background-color: #8b0000;
  color: white;
  padding: 20px;
  text-align: center;
}


#row2,
#row3 {
  width: 100%;
  overflow: hidden;
  padding: 15px 0;
}

#links,
#main,
#tools,
#ingredients,
#equipment,
#directions {
  float: left;
  padding: 15px;
  box-sizing: border-box;
}

#links {
  width: 20%;
}

#main {
  width: 45%;
}

#tools {
  width: 35%;
}


#ingredients,
#equipment,
#directions {
  width: 33.33%;
}


#footer {
  background-color: #222;
  color: white;
  text-align: center;
  padding: 15px;
  clear: both;
}

h1, h2, h3 {
  margin-top: 0;
}

.rate {
  color: #8b0000;
}

fieldset {
  margin-bottom: 15px;
}

a {
  color: #8b0000;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
